* {
  box-sizing: border-box;
}


.div-title{
  background-color: beige;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  
}
.btn-and-txt{
  margin: auto;
  border: 5px solid black;
  width: 100%;
  padding: 10px;
  text-align: center;
  
}
.form1{
  margin: auto;
  width: 100%;
  padding:50px;
  overflow-y: auto;
}
.table1{
  margin: auto; 
  width: 70%;
}
.div-result{
  margin: auto;
  text-align: center;
  padding: 50px;
  border: 2px solid black;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}